<html>
  <title>Activation successful</title>
  <style>
    body { margin:0; padding:0; font-family: Arial, Helvetica, sans-serif; }
  </style>
  <body>
    <table
      width='600'
      align='center'
      cellpadding='0'
      cellspacing='0'
      style='background-color:#343434; border:0;'
    >
      <tr>
        <td>
        </td>
      </tr>
      <tr>
        <td>
<table align="center" cellpadding="0" cellspacing="0" style="width: 600px; margin: 0 auto; background: #fff; font-family: Arial; border: 1px solid #cccccc;">
    <tbody>
        <tr style="background: #ffff; border-bottom: 1px solid #ccc">
            <td>
                <table style="width: 100%; border-bottom: 1px solid #ccc;">
                    <tr>
                        <td style="margin: 0; padding: 10px 20px; box-sizing: border-box; width: 107px;">
                  <a href=""><img src="https://e2eresearch.com/swteam/emailer/htmlTools-widgets/images/E2E-logo.png" alt="" style="height: 40px;" /></a>
                        </td>
                        <td style="
							text-align: right;
							color: #2a2a2a;
							font-size: 18px;
							font-family: Verdana;
							font-weight: bold;
							padding: 10px 20px;
                            width: 439px;
						">
                            Welcome to   Engame 2.0
                        </td>
                    </tr>
                </table>
            </td>

        </tr>

        <tr>
            <td style="padding: 25px 30px 10px; background: #fff">
                <table border="0" cellspacing="0" cellpadding="0" style="width: 600px">
                    <tbody>
                        <tr>
                            <td style="
											font-family: Verdana;
											color: #2a2a2a;
											font-size: 14px;
											text-align: left;
											padding-bottom: 10px;
											box-sizing: border-box;
										">
                                Hello
                                {{name}},
                            </td>
                        </tr>
                        <tr>
                            <td style="
											font-family: Verdana;
											color: #2a2a2a;
											font-size: 14px;
											font-style: Verdana;
											text-align: left;
											padding-top: 20px;
											padding-bottom: 15px;
											box-sizing: border-box;
										">
                                You’re just a click away!
                            </td>
                        </tr>
                        <tr>
                            <td style="
											font-family: Verdana;
											color: #2a2a2a;
											font-size: 14px;
											text-align: left;
											box-sizing: border-box;
										">
                                Thanks for registering your account with   Engame 2.0 . Hit the button to verify your email and activate your account.
                            </td>
                        </tr>

                        <tr>
                            <td style="
											font-family: Verdana;
											color: #fff;
											font-size: 16px;
											text-align: center;
											padding-top: 25px;
											padding-bottom: 15px;
											box-sizing: border-box;
										">
                                <a href={{loginLink}} style="text-align: center"><img src="https://e2eresearch.com/swteam/emailer/htmlTools-widgets/images/activate-btn.png" /></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="
											font-family: Verdana;
											color: #2a2a2a;
											font-size: 14px;
											text-align: left;
											padding-bottom: 5px;
											box-sizing: border-box;
										">
                                Instead, you can copy/paste this link into your browser
                            </td>
                        </tr>
                        <tr>
                            <td style="
											font-family: Verdana;
											color: #2a2a2a;
											font-size: 11px;
											text-align: left;
											padding-bottom: 15px;
											box-sizing: border-box;
											width: 540px;
											border: 1px solid #d2d2d2;
											word-break:break-all;
											padding: 5px;
                                            background-color: #F6F6F6;
										">
                        {{loginLink}}
                            </td>
                        </tr>
                        <tr>
                            <td style="
											font-family: Verdana;
											color: #2a2a2a;
											font-size: 14px;
											text-align: left;
											padding-bottom: 24px;
                                            padding-top: 30px;
											box-sizing: border-box;
										">
                                Thank you for choosing   Engame 2.0 !
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="
							background: #F6F6F6;
							padding-top: 15px;
							padding-bottom: 10px;
                            text-align: center;
						">
                <table border="0" cellspacing="0" cellpadding="0" style="width:118px;
                    margin: 0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <a href="#">
                                    <img src="https://e2eresearch.com/swteam/emailer/htmlTools-widgets/images/facebook_icon.png" alt="" />
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    <img src="https://e2eresearch.com/swteam/emailer/htmlTools-widgets/images/twitter_icon.png" alt="" />
                                </a>
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    <img src="https://e2eresearch.com/swteam/emailer/htmlTools-widgets/images/linkdin_icon.png" alt="" />
                                </a>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
        </td>
      </tr>
      <tr>
        <td style='height:1px; background-color:#F1AD0F;'></td>
      </tr>
      <tr>
        <td style='height:4px; background-color:#242323;'></td>
      </tr>

    </table>
  </body>
</html>