.breadcrum-main {
    @include breakpoint(mobileonly) {
      margin-left: auto !important;
    }
    @media only screen and (min-device-width: 820px) and (max-device-width: 1180px) and (orientation: portrait) {
      margin-left: 4px !important;
    }
  }
  
  .Drawer-container {
    padding: $padding-50 $padding-0;
    @include breakpoint(mobileonly) {
    }
    @include breakpoint(Ipad-pro) {
      padding: $padding-0 !important;
    }
  }
  .Toolbar-style {
    position: absolute !important;
    padding: 0px !important;
    #{&}__IconButton-style {
      color: white;
      background-color: $secondary;
      top: -62px;
      left: 297px;
    }
    #{&}__IconButton-style-none {
      display: none !important;
    }
  }
  .Paper-class {
    width: 100%;
    margin-left: 20px;
    @include breakpoint(mobileonly) {
      margin-left: auto;
    }
  }
  .ActiveIconClass {
    color: $secondary;
  }
  .ActiveBorderClass .MuiTouchRipple-root {
    border-left: 3px solid $secondary !important;
    // height: 20px;
    // margin-top: 15px;
  }
  .profile-container {
    width: 100%;
    @include breakpoint(mobileonly) {
      margin-left: auto;
      text-align: center;
    }
  
    &__input-padding {
      padding-bottom: 15px;
    }
    .input-filds {
      padding: 12px;
      width: 100%;
      border: 2px solid #dadce0 !important;
      border-radius: 3px;
    }
  
    input[type="file"] {
      color: transparent;
    }
    label.btn.btn-info svg {
      color: white;
      background: gray;
    }
    #{&}__image-container {
      position: relative;
      top: 30px;
      @include breakpoint(mobileonly) {
        top: 10px;
        margin-bottom: 10px;
      }
    }
    #{&}__image-container img {
      width: 100%;
      height: 200px;
    }
    #{&}__image-container__btn-info {
      position: absolute;
      bottom: 3px;
      right: 0;
      background-color: #9d9d9d;
      color: white;
      font-size: 16px;
      padding: 5px 7px;
      border: 1px solid gray;
      cursor: pointer;
      border-radius: 0px 0px 5px 0px;
      text-align: center;
      @include breakpoint(mobileonly) {
        left: 57%;
      }
      @media only screen and (min-device-width: 820px) and (max-device-width: 1180px) and (orientation: portrait) {
        transform: translate(350%, 90%);
      }
      @media only screen and (min-device-width: 820px) and (max-device-width: 1180px) and (orientation: landscape) {
        transform: translate(111%, 90%);
      }
    }
    #{&}__image-noImage {
      position: relative;
      filter: grayscale(100%);
      width: fit-content;
      @include breakpoint(mobileonly) {
        margin-bottom: 10px;
      }
    }
    #{&}__image-noImage img {
      width: 250px;
      height: 250px;
      border: 1px solid gray;
      border-radius: 8px;
    }
    #{&}__image-noImage__btn-info {
      position: absolute;
      // top: 50%;
      // left: 50%;
      bottom: 0;
      right: 0;
      // transform: translate(147%, 90%);
      // -ms-transform: translate(-100%, -100%);
      background-color: $black-gray;
      color: white;
      font-size: 16px;
      padding: 12px 16px;
      border: none;
      cursor: pointer;
      border-radius: 2px;
      text-align: center;
      @include breakpoint(mobileonly) {
        left: 57%;
      }
      @media only screen and (min-device-width: 820px) and (max-device-width: 1180px) and (orientation: portrait) {
        transform: translate(350%, 90%);
      }
      @media only screen and (min-device-width: 820px) and (max-device-width: 1180px) and (orientation: landscape) {
        transform: translate(111%, 90%);
      }
    }
    #{&}__pad-profile {
      padding: 15px;
      @include breakpoint(mobileonly) {
        padding: 15px 0;
        text-align: left;
      }
    }
  
    #{&}__edit-button {
      width: auto !important;
      float: right;
    }
    #{&}__divider-style {
      background: $secondary;
      margin: 0px;
    }
    #{&}__main-grid-class {
      margin-top: 50px;
    }
    #{&}__paper-style {
      padding: $padding-27;
      line-height: 2.25rem;
    }
    #{&}__paper-style2 {
      padding: $padding-22;
      margin-bottom: 10px;
      line-height: 2.25rem;
    }
    #{&}__update-style {
      display: flex;
      color: $secondary;
      justify-content: flex-end;

      span{
        cursor: pointer;
      }
    }
    #{&}__grid-container {
      line-height: 1.4rem;
    }
    #{&}__grid-text {
      font-size: 14px;
    }
    #{&}__Grid-greater-style {
      display: flex;
      justify-content: flex-end;
    }
  }
  .common-display-flex {
    display: flex;
    align-items: center;
    @include breakpoint(mobileonly) {
      display: block;
    }
  }
  .edit-mode {
    @include breakpoint(mobileonly) {
      display: block;
    }
  }
  .flex-common {
    flex: 0 0 40%;
  }
  .flex-common-60 {
    flex: 0 0 60%;
  }

.user_editDetails_loader{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 367px;
}

.tabheader{
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 30px;
}
  