.wrapper {
    height: 100vh;
  }
  .img-404 {
    text-align: $align-center;
    @include space(padding, top, $padding-40, 0);
  }
  
  .back-btn {
    display: flex;
    justify-content: $align-center;
    text-align: $align-center;
    align-items: $align-center;
    @include space(padding, "", $padding-15, 0);
  }
  .back-btn button {
    background-color: $secondary;
    border: none;
    border-radius: $boder-radius;
    cursor: pointer;
    @include space(padding, all, $padding-8, 0);
    display: flex;
    align-items: $align-center;
  }
  .back-btn button .back-btn-icon {
    display: flex;
    color: $white;
    @include font-size($font-xl-reg);
    >svg{
      width: 25px !important;
      height: 25px !important;
    }
  }
  .back-color {
    color: $white;
    @include space(margin, left, $margin-5, 0);
  }
  @media all and (max-width: 767px) {
    .img-404 img {
      width: 100%;
    }
  }
  